body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
    overflow-y: scroll; /* Ensure scrolling is enabled */
    height: 100vh; /* Ensure it fills the full viewport height */
      
}

header {
    background-image: url('path_to_your_image.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
    text-align: center;
    padding: 80px 20px;
}

.home-link {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin: 0;
}

main {
    max-width: 1100px;
    margin: 50px auto;
    padding: 0 20px;
}

.section {
    margin-bottom: 50px;
    font-size: 10px;
}

.bsec {
    margin-bottom: 50px;
}

.sekce {
    
    
}

main.citaty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* Make it take the full viewport height */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Optional: Add a background color */
}

main.citaty h2 {
    font-size: 3rem; /* Larger font size for quotes */
    margin-bottom: 1rem; /* Space between quote and author */
    font-weight: bold;
    transition: transform 0.3s ease, font-size 0.3s ease;
}


main.citaty p {
    font-size: 1.5rem; /* Font size for author */
    color: #555; /* Subtle color for the author text */
    margin: 0;
}

.cit1 {
    margin-top: 20vh;
}

.cit2 {
    margin-left: 30px;
}


h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 1.4em;
    color: #555;
    line-height: 1.6;
}

.team-container {
    display: flex;
    justify-content: center;
}

.team-member {
    width: 58%;
    color: #333333; /* Text color */
    background-color: #F5F5F5; /* Background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    text-align: justify; /* Align text evenly on both sides */
}

.info {
    width: 58%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.info.visible {
    opacity: 1;
    transform: translateY(0);
}

.info1 {
    color: #FFEB3B; /* Text color */
    background-color: #6200EA; /* Background color */
}

.info1 h2 {
    color: #FFEB3B; /* Text color */
}

.info2 {
    color: #4E342E; /* Text color */
    background-color: #FFF3E0; /* Background color */
}

.info2 h2 {
    color: #4E342E; /* Text color */
}

.info3 {
    color: #37474F; /* Dark Gray text for better contrast */
    background-color: #A5D6A7; /* Background color */
}

.info3 h2 {
    color: #37474F; /* Dark Gray text for better contrast */
}

ul {
    margin-bottom: 100px;
    list-style: none;
}

li {
    margin-top: 40px;
    font-size: 20px;
    
}



footer {
    background-color: #708090;
    width: 100%;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .section {
        margin-bottom: 50px;
        font-size: 7px;
    }

    p {
        font-size: 1.2em;
        color: #555;
        line-height: 1.6;
    }

    h2 {
        font-size: 1.9em;
        margin-bottom: 10px;
    }

    li {
        margin-top: 40px;
        font-size: 15px;
        
    }

    .info {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .citaty h2{
        font-size: 22px;
    }

    .citaty p {
        font-size: 13px;
    }

    .team-member {
        width: 100vh;
        height: auto;
        text-align: center;
    }

  }
