* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    background: linear-gradient(to bottom, #f5f5f5, #eaeaea);
    margin: 0;
    padding: 0;
    color: #333;
}

body {

  }

html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

header {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/Albiero.jpeg') no-repeat top/cover;
    z-index: -1;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    color: #2C2C2C;
    font-family: "Poppins", sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.7;
    color: #2C2C2C;
    font-family: "Quicksand", sans-serif;
}


.header-content {
    text-align: center;
    color: white;
    z-index: 1; /* Ensures content is above the overlay */
}

.home-link {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

.scroll-link {
    display: inline-block;
    margin-top: 800px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
    font-family: "Poppins", sans-serif;
}

.scroll-link:hover {
    border-bottom: 1px solid white;
    border-radius: 0px;
}

.content {
    max-width: 800px;
    margin: 200px auto;
    padding: 20px;
}

#content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@media  (max-width: 768px) {
    .scroll-link {
        margin-top: 550px;
    }

    .content {
        height: 0;;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 20%;
    }

    .content p {
        font-size: 10px;
        line-height: 1.3;
    }

    .content h1 {
        font-size: 16px;
    }
}

.footer {
    background-color: #708090;
    width: 100%;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
