* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

header {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/Albiero.jpeg') no-repeat top/cover;
    z-index: -1;
}


.header-content {
    text-align: center;
    color: white;
    z-index: 1; /* Ensures content is above the overlay */
}

.home-link {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

.scroll-link {
    display: inline-block;
    margin-top: 800px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
    font-family: "Poppins", sans-serif;
}

.scroll-link:hover {
    border-bottom: 1px solid white;
    border-radius: 0px;
}

#content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    background: #f4f4f4;
}

@media  (max-width: 768px) {
    .scroll-link {
        margin-top: 550px;
    }
}
